* {
  margin: 0;
  padding: 0;
}


#header {
  background-color: black;
  height: 200px;
  width: 100%;

}

#logo-container {
  padding-top: 10px;
  display: inline-flex;
  justify-content: center;
  width: 150px;
}

#nav-bar {
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header-img {
  height: 90px;

}

ul li a{

  text-decoration: none; 
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;


  /* list-style-type: none; */
}

ul {
  padding-top: 30px;
  list-style-type: none;
}

.ul-container {
  display: flex;
  align-content: space-between;
  padding-left: 40px;
  width: 800px;
}

.nav-link {
  width: 200px;
}


